@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");

:root {
  --light: #fcfafa;
  --dark: #0e0000;
  --dark-transparent: #0e0000dd;

  --main-font: "Pirata One", cursive;
  --text-size: 14pt;

  --navbar-size: 70px;
  --container-size: 800px;

  --spacing: 8px;
  --spacing-2: calc(var(--spacing) * 2);
  --spacing-3: calc(var(--spacing) * 3);
  --spacing-4: calc(var(--spacing) * 4);
}

body {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: var(--navbar-size);
}

nav {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--main-font);
  color: var(--light);
}

.introduction {
  background-image: url("./assets/papyrus.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding: calc(var(--spacing) * 8) calc(var(--spacing) * 16);
  font-size: var(--text-size);
  height: var(--container-size);
  overflow: auto;
}

.introduction p::first-letter {
  font-family: var(--main-font);
  font-size: 2em;
}

.deep-sea {
  margin-top: -15px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em;
  font-size: 16pt;
  height: 1250px;
  color: var(--light);
  background-attachment: fixed;
}

.instructions {
  background-color: var(--dark-transparent);
  padding: var(--spacing);
  color: var(--light);
}
.instructions > li {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  border-bottom: 1px solid var(--light);
}

.sparrow {
  width: 200px;
  filter: sepia(0.5);
  mix-blend-mode: multiply;
}

.compass {
  width: 150px;
  filter: sepia(1);
}

.hint {
  font-family: var(--main-font);
}

blockquote {
  font-style: italic;
  margin-top: 0.5em;
}
